body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 40px;
}

h1 {
    font-size: 2.5rem;
    color: #333;
}

h2 {
    font-size: 2rem;
    color: #555;
    margin-top: 20px;
}

h3 {
    cursor: pointer;
    margin: 10px 0;
    color: #007bff; /* Link color */
}

.hidden {
    display: none;
}

.skill-category, .project-category {
    margin: 15px 0;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding-left: 0;
}
